{% load static %}

{% include "css/include/borders.css" with border="crosshair-zoom" %}
{% include "css/include/borders.css" with border="outline-glow-zoom" %}

padding: var(--padding);
color: var(--fg-color);
outline: 2px solid var(--border-color);
border: 3px solid transparent;

text-align: center;
text-decoration: none;
text-transform: uppercase;
font-family: "Hitmarker VF";
font-size: 1.1rem;
font-weight: 400;
font-stretch: 30%;

background-clip: padding-box;
background-size: 5px 5px;
background-image: var(--background-texture1);
background-color: var(--light-bg);

/* crosshair effect */
/* position: relative;
&::before {
    content: "";
    position: absolute;
    opacity: 0;

    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    border-image: url({% static 'corner-accent.svg' %}) 50% / 15px / 40px;

    transition-duration: var(--scale-duration);
    transition-property: border-image-outset, opacity;
} */

&:active,
&:hover,
&:focus,
&:focus-visible {
    background-color: var(--accent-color);
    border-color: var(--accent-glow-color);
    box-shadow: 0 0 30px var(--accent-glow-color), inset 0 0 2em rgba(0,0,0,0.4);
    color: var(--light-bg);

/*     outline-color: var(--accent-color);
    transform: scale(1.05, 1.05);
 */
/*     &::before {
        opacity: 1;
        border-image-outset: 10px;
    } */
}

/* transition-duration: var(--scale-duration);
 */