color: var(--fg-color);
outline: 2px solid var(--border-color);
border: none;

background-clip: padding-box;
background-color: var(--dark-bg);;

&::placeholder {
    opacity: 0.3;
}

&:active,
&:hover,
&:focus,
&:focus-visible {
    outline-color: var(--accent-color);
    box-shadow: 0 0 20px var(--accent-glow-color);
    transform: scale(1.05, 1.05);
}

&.error {
    color: var(--fg-color);
    outline-color: var(--error-color);
    
    &::placeholder {
        color: var(--error-color);
        font-weight: 500;
        opacity: 1;
    }
}

transition-duration: var(--scale-duration);
transition-property: 
    outline-color,
    box-shadow,
    transform;
