<div id="game-container">
    <canvas id="game-canvas" width="1024" height="720"></canvas>
</div>

<script>
{
    const canvas = document.getElementById("game-canvas");
    const canvasContext = canvas.getContext("2d");

    const fgColor = window.getComputedStyle(document.documentElement).getPropertyValue('--fg-color');

    const paddleThic = 10;
    const paddleLen = 160;
    const paddleSpeed = 4;
    var leftpaddleY = (canvas.height - paddleLen) / 2;
    var rightpaddleY = (canvas.height - paddleLen) / 2;

    const ballSize = 20;
    var ballX = 0 + paddleThic;
    var ballY = canvas.height / 2;

    const ballSpeed = 5;
    var ballSpeedX = ballSpeed;
    var ballSpeedY = 0;
    var ballDirectionX = 1;
    var ballDirectionY = 1;

    var pressedKeys = [];
    window.addEventListener('keydown', keyPressEvent, false);
    window.addEventListener('keyup', keyReleaseEvent, false);

    function keyPressEvent(event) {
        pressedKeys[event.keyCode] = true;
    }

    function keyReleaseEvent(event) {
        pressedKeys[event.keyCode] = false;
    }

    function drawBall() {
        canvasContext.fillStyle = fgColor;
        canvasContext.fillRect(ballX, ballY, ballSize, ballSize);
    }

    function drawLeftpaddle() {
        canvasContext.fillStyle = fgColor;
        canvasContext.fillRect(0, leftpaddleY, paddleThic, paddleLen);
    }

    function drawRightpaddle() {
        canvasContext.fillStyle = fgColor;
        canvasContext.fillRect(canvas.width - paddleThic, rightpaddleY, paddleThic, paddleLen);
    }

    function updateBallPosition() {
        if ((ballX <= 0 + paddleThic && ballDirectionX == -1) && (ballY > leftpaddleY && ballY < leftpaddleY + paddleLen)
            || (ballX >= canvas.width - paddleThic - ballSize && ballDirectionX == 1) && (ballY > rightpaddleY && ballY < rightpaddleY + paddleLen)) {
            ballDirectionY = Math.random() < 0.5 ? -1 : 1;
            ballDirectionX *= -1;
            ballSpeedY = Math.floor(Math.random() * ballSpeed);
            ballSpeedX = Math.sqrt((ballSpeed ** 2) - (ballSpeedY ** 2));
        }

        if (ballY <= 0 || ballY >= canvas.height - ballSize)
            ballDirectionY *= -1;

        ballX += ballSpeedX * ballDirectionX;
        ballY += ballSpeedY * ballDirectionY;
    }

    function updatePaddlePosition() {
        // W
        if (pressedKeys[87] && leftpaddleY > 0)
            leftpaddleY -= paddleSpeed;
        // S
        if (pressedKeys[83] && leftpaddleY < canvas.height - paddleLen)
            leftpaddleY += paddleSpeed;
        // up
        if (pressedKeys[38] && rightpaddleY > 0)
            rightpaddleY -= paddleSpeed;
        // down
        if (pressedKeys[40] && rightpaddleY < canvas.height - paddleLen)
            rightpaddleY += paddleSpeed;
    }

    function draw() {
        this.updatePaddlePosition();
        this.updateBallPosition();

        canvasContext.clearRect(0, 0, canvas.width, canvas.height);
        this.drawLeftpaddle();
        this.drawRightpaddle();
        this.drawBall();
    }

    const interval = setInterval(this.draw, 10);
}
</script>