{% load static %}
{% include "pong/elements/modal_dialog.html" %}

<div id="home-container">
    <div id="home-user-container">
        <a id="home-profile-button" href="#profile">
            <div class="avatar">
                <img src="/api/avatar?username={{ user.user.username }}">
            </div>
            <div id="home-user-username">
                {{ user.user.username }}
            </div>
        </a>
        <a class="button" href="#settings">Settings</a>
        <a class="button">Log out</a>
    </div>

    <div id="game-form-container">
        <form id="local-game-form">
            <button class="game-button" type="submit" value="local">local game</button>
            <button class="game-button" type="submit" value="localTournament">local tournament</button>
        </form>
        <form id="online-game-form">
            <button class="game-button" type="submit" value="online">online game</button>
            <button class="game-button" type="submit" value="onlineTournament">online tournament</button>
            <button class="game-button" type="submit" value="ai">vs AI</button>
        </form>
    </div>
</div>

<script>
{
    const startLobby = async (event, player1, player2, player3, player4) => {
        event.preventDefault();

        try {
            const token = getCookie('csrftoken');

            let matchmakerQuery = '?gameMode=' + event.submitter.value;
            if (event.submitter.value === 'local' || event.submitter.value === 'localTournament') {
                matchmakerQuery += '&player1=' + player1;
                matchmakerQuery += '&player2=' + player2;
            }
            if (event.submitter.value === 'localTournament') {
                matchmakerQuery += '&player3=' + player3;
                matchmakerQuery += '&player4=' + player4;
            }

            const response = await fetch('/api/matchmaker' + matchmakerQuery, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': token
                }
            });

            if (response.ok) {
                const result = await response.json();
                removeEventListener("hashchange", loadPageHash);
                addEventListener("hashchange", (event) => {
                    changeContainerLobby(document.body, result.url);
                    addEventListener("hashchange", loadPageHash);
                },
                { once: true });
                window.location.hash = 'lobby';
            }
            else {
                console.log(await response.text());
            }
        }
        catch (error) {
            console.log(error);
        }
    };

    const modalDialog = document.getElementById('modal-dialog-container');
    const modalDialogContent = document.getElementById('modal-dialog-content');
    const modalDialogClose = document.getElementById('modal-dialog-close');
    modalDialogClose.addEventListener('click', (event) => {
        modalDialog.classList.remove("show");
    });

    const onlineGameForm = document.getElementById('online-game-form');
    onlineGameForm.addEventListener('submit', (event) => {event.preventDefault();});
    onlineGameForm.addEventListener('submit', startLobby, { once: true });

    const localGameForm = document.getElementById('local-game-form');
    localGameForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        if (event.submitter.value === 'local') {
            await changeContainerContent(modalDialogContent, 'dialogs/local_match_name_form');
            const localMatchForm = document.getElementById('local-match-form');
            const localMatchError = document.getElementById('local-match-error');
            const localMatchStartButton = document.getElementById('local-match-start');

            const player1 = document.getElementById('local-match-player1');
            const player2 = document.getElementById('local-match-player2');

            localMatchForm.addEventListener('submit', (event) => {event.preventDefault();});
            localMatchForm.addEventListener('submit', (event) => {
                player1.classList.remove('error');
                player2.classList.remove('error');

                if (validatePlayerName(player1, localMatchError)
                    && validatePlayerName(player2, localMatchError)) {

                    if (player1.value === player2.value) {
                        localMatchError.textContent = "Player names must be unique"
                        localMatchError.classList.add('show');
                    } else {
                        localMatchStartButton.setAttribute("disabled", "true");
                        startLobby(event, player1.value, player2.value);
                        modalDialog.classList.remove("show");
                    }
                }
            });
        } else if (event.submitter.value === 'localTournament') {
            await changeContainerContent(modalDialogContent, 'dialogs/local_tournament_name_form');
            const localTournamentForm = document.getElementById('local-tournament-form');
            const localTournamentError = document.getElementById('local-tournament-error');
            const localTournamentStartButton = document.getElementById('local-tournament-start');

            const player1 = document.getElementById('local-tournament-player1');
            const player2 = document.getElementById('local-tournament-player2');
            const player3 = document.getElementById('local-tournament-player3');
            const player4 = document.getElementById('local-tournament-player4');

            localTournamentForm.addEventListener('submit', (event) => {event.preventDefault();});
            localTournamentForm.addEventListener('submit', (event) => {
                player1.classList.remove('error');
                player2.classList.remove('error');
                player3.classList.remove('error');
                player4.classList.remove('error');

                if (validatePlayerName(player1, localTournamentError)
                    && validatePlayerName(player2, localTournamentError)
                    && validatePlayerName(player3, localTournamentError)
                    && validatePlayerName(player4, localTournamentError)) {

                    if (new Set([player1.value, player2.value, player3.value, player4.value]).size !== 4) {
                        localTournamentError.textContent = "Player names must be unique"
                        localTournamentError.classList.add('show');
                    } else {
                        localTournamentStartButton.setAttribute("disabled", "true");
                        startLobby(event, player1.value, player2.value, player3.value, player4.value);
                        modalDialog.classList.remove("show");
                    }
                }
            });
        }

        modalDialog.classList.add("show");
    });
}
</script>
