{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Of Pong</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/pong.js"></script>
</head>
<body>
    <noscript>
        <img src="{% static 'callofpong.svg' %}" alt="Call Of Pong">
        <p>This page uses JavaScript, which is unsupported or disabled on your web browser.</p>
        <p>Enable JavaScript support, or use a web browser that supports it to continue.</p>
    </noscript>
</body>
</html>
