{% if targetUser == user %}
    {% include "pong/elements/modal_dialog.html" %}
{% endif %}

<div id="profile-container">
    <div id="profile-side-container">
        <div id="profile-user">
            <div class="avatar">
                <img src="/api/avatar?username={{ targetUser.user.username }}">
            </div>

            <div id="profile-user-info">
                <div id="profile-username">{{ targetUser.user.username }}</div>
                <div id="profile-user-details">
                    {% if targetUser != user %}
                        {% if targetUser.is_online %}
                            <div class="profile-user-online-tag">Online</div>
                        {% else %}
                            <div class="profile-user-offline-tag">Offline</div>
                        {% endif %}
                    {% endif %}

                    <p><strong>Matches Played: </strong>{{ match.count }}</p>
                    <p><strong>Wins: </strong>{{ match.wins }}</p>
                    <p><strong>Losses: </strong>{{ match.losses }}</p>

                    <p><strong>{{ targetUser.user.email }}</strong></p>
                </div>
            </div>
        </div>

        <!-- Match History -->
        <div id="match-history">
            <div id="match-history-header">Match History</div>
            <div id="match-history-content">
                {% include 'pong/elements/matchTable.html' %}
            </div>
        </div>
    </div>

    {% if targetUser == user %}
        <!-- Friend List -->
        <div id="friend-list-container">
            <div class="user-list-header">Friends</div>
            <div id="friend-list">
                {% include "pong/elements/friendList.html" %}
            </div>
            <a id="add-friend-button">+</a>
        </div>

        <!-- Blocked Users -->
        <div id="blocked-list-container">
            <div class="user-list-header">Blocked users</div>
            <div id="blocked-list">
                {% include 'pong/elements/blockedUsersList.html' %}
            </div>
            <a id="block-user-button">🞩</a>
        </div>
    {% else %}
        <!-- Chat -->
        <div id="profile-chat">
            <div id="profile-chat-content">
                {% include 'pong/elements/chat.html' %}
            </div>
            <form id="profile-chat-input-form">
                <input type="text" id="profile-chat-message-input" placeholder="Type a message..." autocomplete="off" maxlength="500">
                <div id="profile-chat-error"></div>
                <button id="profile-chat-input-button" type="submit">Send</button>
            </form>
        </div>
    {% endif %}
</div>

{% if targetUser == user %}

<script>
{
    const friendList = document.getElementById('friend-list');
    const blockedUsersList = document.getElementById('blocked-list');
    const friendListInterval = setInterval(() => changeContainerContent(friendList, 'elements/friendList'), 1000);
    const blockedUsersInterval = setInterval(() => changeContainerContent(blockedUsersList, 'elements/blockedUsersList'), 1000);

    addEventListener("hashchange", (event) => {
        clearInterval(friendListInterval);
        clearInterval(blockedUsersInterval);
    }, { once: true });

    const modalDialog = document.getElementById('modal-dialog-container');
    const modalDialogContent = document.getElementById('modal-dialog-content');
    const modalDialogClose = document.getElementById('modal-dialog-close');
    modalDialogClose.addEventListener('click', (event) => {
        modalDialog.classList.remove("show");
    });

    const addFriendButton = document.getElementById('add-friend-button');
	addFriendButton.addEventListener('click', async (event) => {
        event.preventDefault();

        await changeContainerContent(modalDialogContent, 'dialogs/add_friend_form');
        const addFriendForm = document.getElementById('add-friend-form');
        const addFriendError = document.getElementById('add-friend-error');
        const friendUsernameInput = document.getElementById('friend-username-input');

        addFriendForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            if (friendUsernameInput.value) {
                if (await addFriend(friendUsernameInput.value, addFriendError))
                    modalDialog.classList.remove("show");
                    changeContainerContent(friendList, 'elements/friendList');
            }
        });

        modalDialog.classList.add("show");
    });

    const blockUserButton = document.getElementById('block-user-button');
	blockUserButton.addEventListener('click', async (event) => {
        event.preventDefault();

        await changeContainerContent(modalDialogContent, 'dialogs/block_user_form');
        const blockUserForm = document.getElementById('block-user-form');
        const blockUserError = document.getElementById('block-user-error');
        const blockUsernameInput = document.getElementById('block-username-input');

        blockUserForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            if (blockUsernameInput.value) {
                if (await blockUser(blockUsernameInput.value, blockUserError))
                    modalDialog.classList.remove("show");
                    changeContainerContent(blockedUsersList, 'elements/blockedUsersList');
            }
        });

        modalDialog.classList.add("show");
    });
}
</script>

{% else %}

<script>
{
    const chatContent = document.getElementById('profile-chat-content');
    const chatInterval = setInterval(() => changeContainerContent(chatContent, 'elements/chat-{{ targetUser.user.username }}'), 1000);

    addEventListener("hashchange", (event) => {
        clearInterval(chatInterval);
    }, { once: true });

    const chatForm = document.getElementById('profile-chat-input-form');
    const chatError = document.getElementById('profile-chat-error');

    chatForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const messageContent = document.getElementById('profile-chat-message-input');

        chatError.textContent = '';
        chatError.classList.remove('show');

        if (validateChatMessage(messageContent, chatError)) {
            const csrftoken = getCookie('csrftoken');
            try {
                const response = await fetch('/api/message', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        receiver: `{{ targetUser.user.username }}`,
                        content: messageContent.value,
                    }),
                });

                const result = await response.text();

                if (response.ok) {
                    messageContent.value = '';
                    changeContainerContent(chatContent, 'elements/chat-{{ targetUser.user.username }}');
                } else {
                    chatError.textContent = result;
                    chatError.classList.add('show');
                }
            } catch (error) {
                chatError.textContent = error;
                chatError.classList.add('show');
            }
        }
    });

    const startLobby = async (game_url) => {
        removeEventListener("hashchange", loadPageHash);
        addEventListener("hashchange", (event) => {
            changeContainerLobby(document.body, game_url);
            addEventListener("hashchange", loadPageHash);
        },
        { once: true });
        window.location.hash = 'lobby';
    }
}
</script>

{% endif %}
