{% if targetUser == user or targetUser == None %}

<div class="container">
    <div class="profile-header box">
        <div class="profile-left">
            <p><strong>{{ user.user.username }}</strong></p>
            <p><strong>{{ user.user.email }}</strong></p>
            <a class="landing-button" href="#settings">Settings</a>
        </div>

        <div class="profile-center">
            {% if user %}
                <img src="/api/avatar?username={{ user.user.username }}" class="profile-pic" alt="User Avatar">
            {% endif %}
        </div>

        <div class="profile-right">
                <p><strong>Matches Played: </strong>{{ match.count }}</p>
                <p><strong>Wins: </strong>{{ match.wins }}</p>
                <p><strong>Losses: </strong>{{ match.losses }}</p>
        </div>
    </div>

    <div class="main-content box">
        <div class="buttons">
            <button onclick="showSection('match-history')" class="active">Match History</button>
            <button onclick="showSection('friend-list')">Friend List</button>
            <button onclick="showSection('blocked-list')">Blocked List</button>
        </div>

        <!-- Match History -->
        <div id="match-history">
            <h2 class="tab-heading">Match History</h2>
            <div id="match-history-content">
                {% include 'pong/matchTable.html' %}
            </div>
        </div>

        <!-- Friend List -->
        <div id="friend-list" class="hidden">
            <h2 class="tab-heading">Friend List</h2>
            <div>
                <input type="text" id="friend-username" placeholder="Enter username to add">
                <div id="add-friend-error"></div>
                <button id="add-friend-button">Add Friend</button>
            </div>
            <div id="friend-list-content">
                {% include 'pong/friendList.html' %}
            </div>
        </div>

        <!-- Blocked Users -->
        <div id="blocked-list" class="hidden">
            <h2 class="tab-heading">Blocked Users</h2>
            <div>
                <input type="text" id="block-username" placeholder="Enter username to block">
                <div id="block-user-error"></div>
                <button id="block-user-button">Block</button>
            </div>
            <div id="blocked-list-content">
                {% include 'pong/blockedUsersList.html' %}
            </div>
        </div>
    </div>
</div>
