<form id="settings-form">
    <h1>Settings</h1>
    <div id="settings-section-container">
        <div class="settings-section">
            <h3>Avatar</h3>
            <label for="new-avatar" class="avatar">
                <img src="/api/avatar?username={{ user.user.username }}" class="avatar">
            </label>
            <input type="file" id="new-avatar" name="new-avatar" accept="image/*">
        </div>
        <div class="settings-section">
            <h3>User information</h3>
            <label for="username">User name</label>
            <input type="text" id="username" name="username" value="{{ user.user.username }}">
            <label for="username">E-mail</label>
            <input type="email" id="email" name="email" value="{{ user.user.email }}">
        </div>
        <div class="settings-section">
            <h3>Change password</h3>
            <label for="current-password">Current password</label>
            <input type="password" id="current-password" name="current-password">
            <label for="new-password">New password</label>
            <input type="password" id="new-password" name="new-password">
            <label for="confirm-new-password">Confirm new password</label>
            <input type="password" id="confirm-new-password" name="confirm-new-password">
        </div>
    </div>
    <div id="settings-error"></div>
    <div id="settings-buttons-container">
        <a href="#profile" class="button">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>

<script>
{
    const settingsForm = document.getElementById('settings-form');
    const newAvatar = document.getElementById('new-avatar');
    const username = document.getElementById('username');
    const email = document.getElementById('email');
    const password = document.getElementById('current-password');
    const newPassword = document.getElementById('new-password');
    const confirmNewPassword = document.getElementById('confirm-new-password');

    const settingsError = document.getElementById('settings-error');

    settingsForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const token = getCookie('csrftoken');

        username.classList.remove('error');
        email.classList.remove('error');
        password.classList.remove('error');
        newPassword.classList.remove('error');
        confirmNewPassword.classList.remove('error');

        const avatar = newAvatar ? newAvatar.files[0] : null;

        let userData = {};
        if (username.value != '{{ user.user.username }}' && validateUsername(username, settingsError))
            userData.new_username = username.value;
        if (email.value != '{{ user.user.email }}' && validateEmail(email, settingsError))
            userData.new_email = email.value;
        if ((newPassword.value || confirmNewPassword.value) && validatePassword(newPassword, confirmNewPassword, settingsError)) {
            if (password.value === '' || password.value == null) {
                settingsError.textContent = "Password is required!";
                password.classList.add('error');
                settingsError.classList.add('show');
                return;
            } else {
                userData.password = password.value;
                userData.new_password = newPassword.value;
                userData.confirm_password = confirmNewPassword.value;
            }
        }

        if (avatar) {
            const formData = new FormData();
            formData.append('avatar', avatar);

            try {
                const response = await fetch('/api/avatar', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': token
                    },
                    body: formData
                });

                const result = await response.text();

                if (response.ok) {
                    if (Object.keys(userData).length == 0) {
                        window.location.hash = 'profile';
                        return;
                    }
                }
                else {
                    settingsError.textContent = result;
                    settingsError.classList.add('show');
                    return;
                }
            }
            catch (error) {
                settingsError.textContent = error;
                settingsError.classList.add('show');
                return;
            }
        }

        try {
            const response = await fetch('/api/user', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token
                },
                body: JSON.stringify(userData),
            });

            const result = await response.text();

            if (response.ok) {
                if (userData.new_password)
                    window.location.hash = 'login';
                else
                    window.location.hash = 'profile';
            }
            else {
                settingsError.textContent = result;
                settingsError.classList.add('show');
            }
        }
        catch (error) {
            settingsError.textContent = error;
            settingsError.classList.add('show');
        }
    });
}
</script>
