<h2>Enter player names</h2>
<form id="local-tournament-form">
    <input type="text" id="local-tournament-player1" name="player1" maxlength="15" placeholder="Player 1" value="{{ user.user.username }}">
    <input type="text" id="local-tournament-player2" name="player2" maxlength="15" placeholder="Player 2">
    <input type="text" id="local-tournament-player3" name="player3" maxlength="15" placeholder="Player 3">
    <input type="text" id="local-tournament-player4" name="player4" maxlength="15" placeholder="Player 4">
    <div id="local-tournament-error"></div>
    <button id="local-tournament-start" type="submit" value="localTournament">start</button>
</form>
