{% if friends %}
    {% for friend in friends %}
        {% if friend.is_online %}
        <div class="friend-list-item">
            <a class="landing-button" href="#profile-{{ friend.user.username }}">
                <img src="/api/avatar?username={{ friend.user.username }}" alt="{{ friend.user.username }}" class="friend-pic">
                <span>{{ friend.user.username }}</span>
                <span class="status-circle online-circle"></span>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    {% for friend in friends %}
        {% if not friend.is_online %}
        <div class="friend-list-item">
            <a class="landing-button" href="#profile-{{ friend.user.username }}">
                <img src="/api/avatar?username={{ friend.user.username }}" alt="{{ friend.user.username }}" class="friend-pic">
                <span>{{ friend.user.username }}</span>
                <span class="status-circle offline-circle"></span>
            </a>
        </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No friends found.</p>
{% endif %}
