{% if friends %}
    {% for friend in friends %}
        {% if friend.is_online %}
            <a class="friend-list-item" href="#profile-{{ friend.user.username }}">
                <div class="avatar">
                    <img src="/api/avatar?username={{ friend.user.username }}">
                </div>
                <span>{{ friend.user.username }}</span>
            </a>
        {% endif %}
    {% endfor %}
    {% for friend in friends %}
        {% if not friend.is_online %}
            <a class="friend-list-item offline" href="#profile-{{ friend.user.username }}">
                <div class="avatar">
                    <img src="/api/avatar?username={{ friend.user.username }}">
                </div>
                <span>{{ friend.user.username }}</span>
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="empty-list-container">
        <p>No friends found.</p>
    </div>
{% endif %}
