#landing-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);

    {% include "css/include/borders.css" %}
}

#landing-buttons-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);
}

.landing-button {
    display: block;
    width: 300px;

    {% include "css/include/buttons.css" with style="button1" %}

    font-family: "Hitmarker VF";
    font-stretch: 40%;
    font-size: 1.6em;
    font-weight: 500;

    padding: 50px var(--padding);
}
