#lobby-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing);

	height: 700px;
    flex-grow: 0;
}

#lobby-main-container {
	display: flex;
	flex-direction: column;

	width: 600px;
	height: 700px;
	flex-grow: 0;
}

#lobby-settings-container {
	display: flex;
	flex-direction: row;
}

#lobby-chat-container {
	display: flex;
	flex-direction: column;
    min-height: 0;
	flex-grow: 1;
}

#lobby-player-container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
    width: 280px;
}

#lobby-chat-container,
#lobby-player-container,
#lobby-settings-container {
	outline: 2px solid var(--border-color);
	background-color: var(--dark-bg);
	background-clip: padding-box;
}

#lobby-chat-messages {
	flex-grow: 1;
}

#lobby-chat-container,
#lobby-chat-input-form,
#lobby-invite-form,
#lobby-container,
#lobby-settings-container,
#game-container {
	&.hide {
		display: none;
	}
}

#lobby-invite-error {
    {% include "css/include/error-field.css" %}
}

#error-modal {
	background: rgb(172, 6, 6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 440px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
	padding: 5px;

	&.show {
		opacity: 1;
		visibility: visible;
	}
}
