.button {
	border: none;
	padding: 0.69em;
	border-radius: 0.69em;
	cursor: pointer;
}

.button:hover {
	filter: brightness(0.69);
}

.button:active {
	transform: translateY(1.69px);
}

#lobby-chat-container {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	background: #b9b9b9;
	border-radius: 0.69em;
	padding: 1.5em 1.25em;
	height: 40em;
	box-shadow: 0 0 1em 0.9em #0b040433;
	overflow: auto;
}

#lobby-chat-messages {
	height: 34em;
	overflow-y: scroll;
}

.message {
	padding: 0.625em;
	border-radius: 1em;
	margin-bottom: 0.625em;
	display: flex;
	flex-direction: column;
	color: #000000;
	background-color: #ededed;
	margin-right: 14px;
}

.message:nth-child(even) {
	background-color: #e2e2e2;
}

.message:nth-child(odd) {
	background-color: #ededed;
}

.message-sender {
	font-weight: bold;
	margin-bottom: 0.3em;
}

.message-text {
	margin-bottom: 0.3em;
	word-wrap: break-word;
}

#lobby-chat-input-form {
	padding: 0.69em;
	display: flex;
	align-items: center;
	margin-top: 1.5em;
	gap: 0.69em;
}

#lobby-chat-input {
	padding: 0.69em;
	border: none;
	border-radius: 1em;
	background-color: #f5f5f5;
	color: #333;
	font-size: 1em;
	flex-grow: 1;
}

#lobby-invite-input {
	padding: 0.49em;
	border: none;
	border-radius: 1em;
	background-color: #f5f5f5;
	color: #333;
	font-size: 1em;
	flex-grow: 1;
	margin-top: 5px;
}

#lobby-chat-send-button {
	background-color: #1e1d1d;
	color: #ffffffdf;
	font-size: 1em;
	font-weight: bold;
}

#lobby-start-button {
	background-color: #1e1d1d;
	color: #ffffffdf;
	font-size: 1em;
	font-weight: bold;
}

#lobby-invite-button {
	background-color: #1e1d1d;
	color: #ffffffdf;
	font-size: 1em;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 64px;
}

#lobby-invite-text {
	margin-left: 47px;
}

#player-container {
	grid-column-start: 3;
  	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: start;
	background: #b9b9b9;
	padding: 1.5em 1.25em;
	border-radius: 0.69em;
	box-shadow: 0 0 1em 0.9em #0b040433;
	height: 40em;
	width: 12em;
	overflow: auto
}

.player-name {
	font-size: 1.69em;
	font-weight: bold;
	padding: 0.069em;
	margin-bottom: 0.069em;
}

#settings-container {
	grid-column-start: 1;
  	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	justify-self: end;
	background: #b9b9b9;
	padding: 1.5em 1.25em;
	border-radius: 0.69em;
	box-shadow: 0 0 1em 0.9em #0b040433;
	height: 40em;
	width: 12em;
	overflow: auto;
	display: grid;
	column-gap: 50px;
}

.speed-slide-container {
	width: auto; 
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.grid-container {
	display: grid;
	column-gap: 50px;
}

.settings-grid-item-1 {
	grid-column-start: 1;
  	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.settings-grid-item-2 {
	grid-column-start: 1;
  	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.settings-grid-item-3 {
	grid-column-start: 1;
  	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	align-self: end;
	justify-self: center;
}

#lobby-container,
#settings-container,
#game-container {
	&.hide {
		display: none;
	}
}

#error-modal {
	background: rgb(172, 6, 6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 440px;
	opacity: 0;
	transition: opacity 0.2s;
	padding: 5px;

	&.show {
		opacity: 1;
	}
}
