#registe-form {
    width: 350px;
}

#login-form {
    width: 250px;
}

#register-form,
#login-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2 / 3);

    align-self: center;
    text-align: center;

    & > h1 {
        margin: 0 0 10px;
    }

    & > input[type=text],
    & > input[type=email],
    & > input[type=password] {
        width: 100%;
        display: block;
        padding: 10px var(--padding); 
        box-sizing: border-box;
        font-family: "Hitmarker Text";

        {% include "css/include/forms.css" %}
    }

    & > .button,
    & > button {
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        
        {% include "css/include/buttons.css" with style="button1" %}
    }
}

#login-error,
#register-error {
    background: var(--dark-bg);
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--dark-bg);
    text-align: left;

    /* hide by default */
    opacity: 0;
    height: 0;
    padding: 0 var(--padding);
    overflow: hidden;

    &::before {
        content: "Error:";
        display: inline-block;
        width: 100%;
        margin-bottom: 5px;
        color: var(--error-color);
        font-weight: 500;
        text-transform: uppercase;
    }

    &.show {
        opacity: 1;
        height: auto;
        padding: var(--padding);
    }

    transition-duration: 0.5s;
    transition-property:
        opacity,
        height,
        padding;
}
