#registe-form {
    width: 350px;
}

#login-form {
    width: 250px;
}

#register-form,
#login-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2 / 3);

    align-self: center;
    text-align: center;

    {% include "css/include/borders.css" with border="top-bottom-dotted" %}

    & > h1 {
        margin: 0 0 10px;
    }

    & > input[type=text],
    & > input[type=email],
    & > input[type=password] {
        width: 100%;
        display: block;
        padding: 10px var(--padding);
        box-sizing: border-box;

        {% include "css/include/form-inputs.css" %}
    }

    & > .button,
    & > button {
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;

        {% include "css/include/buttons.css" %}
    }
}

#login-error,
#register-error {
    {% include "css/include/error-field.css" %}
}
