:root {
    --fg-color: rgb(197, 197, 197);

    background-color: #282c34;
    color: var(--fg-color);
    font-family: "Hitmarker Text", sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Hitmarker VF", sans-serif;
    text-transform: uppercase;
    font-stretch: 80%;
    font-weight: 400;
    font-size: 2.6rem;
    cursor: default;
}
