#profile-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing);

    height: 700px;
    flex-grow: 0;
}

#profile-side-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    width: 620px;
}


#profile-user {
    --avatar-size: 300px;

    background-color: var(--dark-bg);
    background-origin: padding-box;
    outline: 2px solid var(--border-color);

    flex-basis: var(--avatar-size);
    display: flex;
    flex-direction: row;

    & > .avatar {
        width: var(--avatar-size);
        border-right: 2px solid var(--border-color);
    }
}

#profile-user-info {
    flex-grow: 1;
}

#profile-user-details {
    padding: 10px;
}

#profile-username {
    padding: 10px;

    font-family: "Hitmarker VF", sans-serif;
    font-stretch: 20%;
    font-weight: 500;
    font-size: 1.4rem;

    cursor: default;
    border-bottom: 2px solid var(--border-color);
}

.profile-user-online-tag,
.profile-user-offline-tag {
    font-family: "Hitmarker VF", sans-serif;
    font-stretch: 20%;
    font-weight: 500;
    font-size: 0.9rem;
    float: right;
    text-transform: uppercase;
}

.profile-user-online-tag {
    font-weight: 600;
    color: var(--accent-color);
}


#match-history {
    background-color: var(--dark-bg);
    background-origin: padding-box;
    outline: 2px solid var(--border-color);

    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
}

#match-history-header {
    padding: 10px;

    font-family: "Hitmarker VF", sans-serif;
    font-stretch: 20%;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;

    cursor: default;
    border-bottom: 2px solid var(--border-color);
}


#match-history-content {

    & > table {
        width: 100%;

        & > thead > tr > th {
            border-bottom: 1px dotted var(--border-color);
        }

        & > thead > tr > th,
        & > tbody > tr > td {
            padding: 2px 10px;

            &:not(:last-child) {
                border-right: 1px dotted var(--border-color);
            }
        }
    }
}

#friend-list-container,
#blocked-list-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: var(--dark-bg);
    background-origin: padding-box;
    outline: 2px solid var(--border-color);
}

#friend-list,
#blocked-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.empty-list-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-chat {
    display: flex;
    flex-direction: column;
    width: 590px;
    background-color: var(--dark-bg);
    outline: 2px solid var(--border-color);
}

#block-user-error,
#add-friend-error {
    {% include "css/include/error-field.css" %}
}
